// CSS for Eyedentity Eyecare
// created: 5.26.17
// author: ruel oquindo

body{
  background-color: teal;  // to do: change to gradient 
}

header {
  background-color: #FFF;
  height: 78px;
  #sitelogo {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
  }
  #sitenav {
    float: right;
  }
}

#heroshot {
  clear:both;
}

main {
  background-color: #FFF;
  min-height: 500px;
  margin-top: -38px;
}





// media query overrides
// ----------------------------------

// adjust margins for extra wide (lg) displays
@media only screen and (min-width: 993px){
  .container {
    width: 90%;
    max-width: 1366px;
  }
} // end min-width: 993px
